h3{
    font-size: 18px;
    align-items: self-start;
}

.logo{
    position:absolute;
    left: 50%;
    margin: auto;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container{
    position:absolute;
    left: 50%;
    margin: auto;
    top: 60%;
    transform: translate(-50%, -50%);
}


